@model NeOldu.Client.Models.GirisViewModel.GirisViewModel
<div class="slice slice-lg bg-section-secondary">
    <div class="container pt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <h3>Giriş yapmak için aşağıda istenen bilgileri eksiksiz doldurunuz.</h3>
                <div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="email">E-Posta</label>
                            @Html.TextBoxFor(p => p.Email, new { @class = "form-control" })
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label for="fname">Parola</label>
                            @Html.TextBoxFor(p => p.Password, new { @class = "form-control", @type = "password" })
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Giriş Yap</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>